{% extends "base.html" %}
{% block title %}Mails {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p>{{msg}}</p>
{% endfor %}
{% endif %}
{% endwith %}

<p>Liste de mail de l'adresse {{email}}</p>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>nom</th>
            <th>email</th>
            <th>mdp</th>
            <th>admin</th>
            <!-- <th>option</th> -->
            <tr>
            </thead>
            <tbody>
                {% for users in users %}
                <tr>
                    <td>{{ users.id }}</td>
                    <td>{{ users.nom }}</td>
                    <td>{{ users.email }}</td>
                    <td>{{ users.mdp }}</td>
                    <td>{{ users.admin }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table> -->
        
    
    {% endblock %}
    
    