{% extends "base.html" %}
{% block title %}Login {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
                {% endfor %}
        {% endif %}
    {% endwith %}

<form action="#" method="post" name="form">
    <p>Email :</p>
    <p><input type="text" name="email" placeholder="Entrer votre email"/></p>
    <p>Mot de passe :</p>
    <p><input type="password" id="mdp" name="mdp" placeholder="Entrer votre mot de passe"></p>
    <p><input type="checkbox" onchange="document.getElementById('mdp').type = this.checked ? 'text' : 'password'"> Show password</p>
    
    <p><input type="submit" value="submit" /></p>
</form>

{% endblock %}

