{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block login %}
<h1>{{ bad }}</h1>
{% endblock%}
{% block content %}
<br>
<form action="#" method="post" name="form">
    <div class="form-group row">
        <label for="identifiant" class="col-sm-2 col-form-label">Pseudo</label>
        <div class="col-sm-10">
            <input type="text" name="identifiant" class="form-control" placeholder="Entrer votre pseudo"/>
        </div>
    </div>
    <!-- <br> -->
    <div class="form-group row">
        <label for="mdp" class="col-sm-2 col-form-label">{{ mdp }}</label>
        <div class="col-sm-10">
            <input type="password" id="mdp" name="mdp" class="form-control" placeholder="Entrer votre mot de passe">
        </div>
    </div>
    <br>
    <div class="form-group row">
        <div class="col-sm-2">{{ aff }} {{ mdp }}</div>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" onchange="document.getElementById('mdp').type = this.checked ? 'text' : 'password'
                document.getElementById('confirmmdp').type = this.checked ? 'text' : 'password'">
            </div>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" value="submit" >Submit</button>
        </div>
    </div>
</form>
{% endblock %}